$ cat .gitignore

# Can ignore specific files

# Use wildcards as well
*.fig
*.txt
*.csv
*.pdf
*.tiff
*.mov
*.dat
*.mat
*.eps
*.svg
*.png
*.tif
*.xlsx
*.wav
*.adiset 
*.doc 
*.docx
*.xml


# Can also ignore all directories and files in a directory.
/AnalysisFigures/*
/FlowFix/*
/PneumoData/old/*
